<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario auto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2 class="mb-4">Registro de sede</h2>
    <form th:action="@{/dodo/registrarSede}" method="post">
        <div class="mb-3">
            <label for="idSede" class="form-label">Sede de id</label>
            <input type="text" class="form-control" id="idSede" name="idSede" placeholder="Ingrese el id de la sede">
        </div>
        <div class="mb-3">
            <label for="distrito" class="form-label">Distrito</label>
            <input type="text" class="form-control" id="distrito" name="distrito" placeholder="Ingrese el distrito">
        </div>
        <div class="mb-3">
            <label for="direccion" class="form-label">Direeción</label>
            <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Ingrese el distrito">
        </div>
        <div>
            <label></label>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>

</div>
</body>
</html>
