<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario auto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2 class="mb-4">Registro de auto</h2>
    <form th:action="@{/dodo/registrar}" method="post">
        <div class="mb-3">
            <label for="empresaAseguradora" class="form-label">Empresa Aseguradora</label>
            <input type="text" class="form-control" id="empresaAseguradora" name="empresaAseguradora" placeholder="Ingrese el nombre de la empresa aseguradora">
        </div>
        <div class="mb-3">
            <label for="coberturaMaxima" class="form-label">Cobertura Maxima</label>
            <input type="number" class="form-control" id="coberturaMaxima" name="coberturaMaxima" placeholder="Ingrese la cobertura máxima">
        </div>
        <div class="mb-3">
            <label for="tarifa" class="form-label">Tarifa</label>
            <input type="number" class="form-control" id="tarifa" name="tarifa" placeholder="Ingrese la tarifa">
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>

</div>
</body>
</html>
